<%- include("header") -%>

<h2>Hey , This is surfer this side, and I have a created beautiful to-do-list for you all. So go ahead and list down all the stuff you need to perform today.</h2>

<%- include("footer") -%>